{{ if it.enable_date }}
  {{ if it.date }}
    <div class="text-sm mt-2 text-neutral-500">
      <time datetime='{{ it.date |> date("ATOM") }}'>{{
        it.date
        |> date("HUMAN_DATE")
      }}</time>
    </div>
  {{ /if }}
{{ /if }}
