{{ export function viewTransitionName(url,{prefix: pre, suffix: suf}) }}
  {{ set trimmedUrl = it.url |> replace(/^\/+|\/+$/g, "") }}
  {{ if (trimmedUrl === "" || trimmedUrl === "/") }}
    {{ set trimmedUrl = "root" }}
  {{ /if }}
  {{ set urlSegments = trimmedUrl |> split('/') }}
  {{> const vt_name = urlSegments[urlSegments.length - 1] }}
  {{- "{{if pre}}{{-pre-}}-{{/if}}{{vt_name}}{{if suf}}-{{-suf-}}{{/if}}" -}}
{{ /export }}
