<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {{ if (it.title) }}
    {{ it.title }}{{ if metas.site }} - {{ metas.site }}{{ /if }}
  {{ else if metas.site }}
    {{ metas.site }}
  {{ /if }}
</title>
{{ include "templates/styles.vto" }}
