{{ layout "layouts/base.vto" }}
  <article>
    {{# Article Header #}}
    <header>
      <h2 class="text-3xl font-serif font-bold italic">
        {{ it.title }}
      </h2>
      {{ include "templates/page_details/date.vto" }}
      {{ include "templates/page_details/summary.vto" }}
    </header>
    {{# Article Content #}}
    <div class="prose prose-neutral prose-headings:font-serif max-w-none mt-8">
      {{ content }}
    </div>
  </article>
{{ /layout }}
