{{ set page = search.page(query) }}
<div class="not-prose my-5 first:mt-0 last:mb-0">
  <a href="{{ page.url }}" class="block hover:**:[h2]:underline">
    {{- include "templates/page_card.vto" { page: page } -}}
  </a>
</div>
